* {
    box-sizing: border-box;
    font-family: 'Martel', serif;
}

body {
    margin: 0;
}
header {
    min-height: 100vh;
}
main {
    padding: 110px 310px;
}
nav a {
    padding: 5px;
    margin-left: 30px;
    text-decoration: none;
    color: inherit;
    letter-spacing: 0.1em;
    font-size: 0.9em;
}
nav a:hover {
    color: #cdba55;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 11vh;
    padding: 30px 220px;
    color: #555555;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background: #fff;
}
.menu-heading {
    margin: 0;
    font-size: 1em;
    line-height: 1.3em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.26em;
}
.menu-button {
    display: none;

    align-items: center;

    width: 26px;
    height: 26px;
    padding: 0;
    position: relative;
    
    z-index: 12;
    cursor: pointer;
    border: none;
    background: none;
}
.menu-button:active,
.menu-button:focus {
    border: none;
    outline: none;
}
.menu-button > span,
.menu-button > span::after,
.menu-button > span::before {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #555555;
}
.menu-button > span::after {
    content: '';
    top: 8px;
}
.menu-button > span::before {
    content: '';
    top: -8px;
}
.button-close > span {
    transform: rotate(45deg);
}
.button-close > span::before {
    top: 0;
    transform: rotate(0);
}
.button-close > span::after {
    top: 0;
    transform: rotate(90deg);
}
.hero-container {
    position: relative;
    background: url('../img/home-bg.jpg') no-repeat top / cover;
    height: 100vh;
    margin-top: 11vh;
}
.hero-bgcolor {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.hero-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.hero-heading {
    color: #fff;
    font-size: 3.7em;
    font-weight: 800;
    margin-bottom: 0;
}
.hero-text {
    margin-top: 0;
    font-size: 0.8em;
    color: #cdba55;
    letter-spacing: 0.1em;
}
.button {
    margin-top: 30px;
    background: #fff;
    border-radius: 30px;
    padding: 12px 23px;
    font-weight: 700;
    color: #555555;
    outline: none;
}
button a {
    text-decoration: none;
    color: inherit;
    transition: ease 1s;
}
.discover-button {
    border: 0;
    text-transform: uppercase;
    font-size: 0.6em;
    letter-spacing: 0.2em;
}

.art {
    padding: 75px 0 55px 0;
}
.art:first-child {
    padding-top: 0;
}
.art:last-child {
    padding-bottom: 0;
}
.art-img {
    max-width: 100%;
}
.art-heading {
    font-size: 1.6em;
    font-weight: 800;
    margin-bottom: 0;
}
.art p {
    font-size: 0.86em;
    color: #555555;
}
.art-info {
    display: flex;
    justify-content: start;
    padding: 10px 0;
    height: 60px;
}
.art-info p {
    padding: 0 10px;
    line-height: 0.9em;
}
.art-profile-img {
    border-radius: 50%;
    max-width: 40px;
}
.art-button {
    border: 1px solid #cfcfcf;
    font-size: 0.8em;
    letter-spacing: 0.1em;
}
.art-text {
    margin-bottom: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 100px 310px;
    width: 100%;
    background: #000;
}
.footer-info {
    flex: 1.25;
    margin-right: 14%;
}
.footer-contact {
    flex: 1;
}
.footer-heading {
    color: #fff;
    font-weight: 700;
    font-size: 1.6em;
}
footer p {
    color: #555555;
    font-size: 0.86em;
}

@media (max-width: 1200px) {
    main, footer {
        padding: 60px 160px;
    }
    .menu {
        padding: 30px 120px;
    }
    .hero-heading {
        font-size: 3em;
    }
    footer p {
       font-size: 0.7em; 
    }
    .footer-heading {
        font-size: 1.4em;
    }
}

@media (max-width: 900px) {
    main, footer {
        padding: 50px 40px;
    }
    .menu {
        padding: 30px 60px;
    }
    .hero-heading {
        font-size: 2.5em;
    }
}

@media (max-width: 768px) {
    nav {
        display: none;
        flex-direction: column;
        position: fixed;
        z-index: 11;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.9);
        top: 0;
        left: 0;
    }
    nav a {
        margin: 0;
        font-size: 1.5em;
    }
    .menu-button {
        display: flex;
    
    }
    .hero-heading {
        font-size: 2.1em;
    }
    .art-heading {
        font-size: 1.2em;
    }
    .art p {
        font-size: 0.8em;
    }
}

@media (max-width: 600px) {
    .hero-heading {
        font-size: 1.7em;
    }
    .hero-text {
        font-size: 0.6em;
    }
    footer {
        flex-direction: column;
    }
    .art-heading {
        font-size: 1em;
    }
    .art p {
        font-size: 0.7em;
    }
}

@media (max-width: 480px) {
    .hero-heading {
        font-size: 1.2em;
    }
    main, footer {
        padding: 30px 20px;
    }
    .menu {
        padding: 30px 25px;
    }
    .menu-heading {
        font-size: 0.8em;
    }
    .art-heading {
        font-size: 0.8em;
    }
    .art p {
        font-size: 0.6em;
    }
    .footer-heading {
        font-size: 1em;
    }
    .art-info p {
        padding: 0 5px;
    }
}

@media (max-width: 320px) {
    .hero-heading {
        font-size: 1em;
    }
    .hero-text {
        font-size: 0.55sem;
    }
}